<nav class="site-nav">
  <a href="{{ .Site.BaseURL }}">Home</a>
  <a href="{{ .Site.BaseURL }}post/">All posts</a>

  {{ if isset .Site.Params "twitterusername" }}
  <a href="https://twitter.com/{{ .Site.Params.twitterusername }}">Twitter</a>
  {{- end }}

  {{ if isset .Site.Params "githubusername" }}
  <a href="https://github.com/{{ .Site.Params.githubusername }}">GitHub</a>
  {{- end }}

  {{ if isset .Site.Params "linkedinusername" }}
  <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedinusername }}">LinkedIn</a>
  {{- end }}
</nav>
