<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
    <div class="container">

      {{ partial "header.html" . }}

      <section>

        {{ range first (index .Site.Params "homepageposts" | default 3) (where .Data.Pages "Type" "post") }}
        <article>
          {{ .Render "list-item-expanded" }}
        </article>
        {{ end }}

      </section>

      {{ partial "nav.html" . }}

      {{ partial "footer.html" . }}

    </div>

  {{ partial "highlight" . }}
  </body>
</html>
